h1, h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800 !important;
    padding: 40px 0;
    margin-top: 50px;
}

h2 {
    font-weight: 800 !important;
    margin-bottom: 0px !important;
}

p {
    padding-bottom: 0.6em;
}

.css-qaw8t5-DocsHeading {
    padding: none !important; 
}

h3 {
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 0px !important;
    padding-top: 20px !important;
}

.chakra-link {
        color: #00beff !important
    }

.css-15wxsjd {
    color: inherit !important
}

.sign-in {
    text-decoration: none !important;
}

.token.string {
    color: #cae793 !important
}

.token.property {
    color: #7f9eea !important
}

.token.keyword {
    color: #bf94e7 !important
}

.css-11mz8ft {
    color:#d6deeb !important;
    background-color:#011627 !important
}

.css-1x7d4r1 {
    color:#d6deeb !important;
    background-color:#011627 !important;
    white-space: pre-wrap;
}

.css-19x6mbd strong {
    font-size: 13px
}

.css-o035oq strong {
    font-size: 13px
}

.css-19x6mbd:nth-child(1) {
    border-top-left-radius: 5px;
}

.css-19x6mbd:nth-child(8) {
    border-top-right-radius: 5px;
}

.css-1fi44gp {
    border: 1px solid #e2e8f0;
    border-radius: 5px !important;
    border-collapse: separate;
    border-spacing: 0;
}

.css-v9ldn8 {
    color: inherit
}

.css-v9ldn8 div {
    color: mediumseagreen;
    font-size: 18px !important;
    font-weight: 800
}

.css-v9ldn8 .no {
    font-size: 12px !important;
}

.css-vxas71, .css-1q10a6j {
    padding: 5px !important;
}

.css-t80207:hover, .css-t80207[data-hover] {
    transform: none !important;
}

.css-1qs9xko {
    display: none !important;
}

.css-cqcf40-Wrapper {
    display: none !important
}

.css-1yw7kw1 {
    margin-left: none !important
}

@media screen and (min-width: 48em) {
.css-1yw7kw1 {
    margin-left: 0px !important;
}}

@media screen and (min-width: 48em) {
    #testing .css-1yw7kw1 {
        margin-left: 0px !important;
    }}

.box {
    flex-basis: 50%;
    padding: 0 20px;
    height: 100%;
}

.box-top {
    flex-basis: 50%;
    padding: 25px 20px 0;
    height: 100%;
}


.box-full {
    flex-basis: 100%;
    padding: 30px 20px;
    height: 100%;
}

.box-bottom {
    flex-basis: 50%;
    padding: 20px 20px;
    height: 100%;
}

.box-bottom-right {
    flex-basis: 50%;
    padding: 0px 20px 0;
    height: 100%;
    display: flex;
}

.box-api {
    padding: 10px 20px;
    flex-basis: 50%;
    border: 1px solid #053440;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: #053440;
}

.box-up {
    padding: 10px 20px;
    flex-basis: 15%;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: flex-start;
}

.box-up svg {
    margin: auto 0;
    margin-bottom: 5px;
    padding: 0 20px 0 0;
    color: #00beff;
    width: 45px
}

.filealt {
    width: 37px !important
}

.box-down h2 {
    color: white;
}

.box-down {
    padding: 10px 20px 20px;
    display: flex;
    color: white;
    align-items: flex-start;
}

.box-down-left {
    flex-basis: 100%;
    color: white;
    background:rgba(207, 207, 207, .1);
    border-radius: 6px;
}

.box-left h2 {
    color: white;
}

.box-left {
    flex-basis: 70%;
    background:rgba(5, 52, 64, .7);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.box-right {
    padding: 10px 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    flex-basis: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background:rgba(5, 52, 64, .7);
    fill-opacity: 0.1;
}

.box2 p {
    padding-bottom: 20px
}

.markdown-button {
    padding: 10px 25px !important;;
    width: fit-content;
    border-radius: 8px;
    background: #00beff;
    color: white !important;
    font-weight: 800 !important;;
    text-transform: uppercase;
    font-size: 14px;
    margin: auto
}

.markdown-button-outline {
    padding: 10px 25px !important;;
    width: fit-content;
    border-radius: 8px;
    font-weight: 800 !important;;
    text-transform: uppercase;
    font-size: 14px;
    margin: auto;
    border: 1px solid #0090c3 !important;
    background:rgba(0, 190, 255, .3);
    color: white !important;
    
}

.markdown-button-outline:hover {
    border: 1px solid #0090c3 !important;
    background:rgba(0, 190, 255, .7);
    transition: all 250ms;
}

@media screen and (min-width: 80em) {
.css-139dgrb {
    border-right-width: 1px;
    padding-top: 30px
}}

@media screen and (min-width: 48em) {
.css-a24dkp {
    display: none !important
}}

.gettingstarted {
    margin-top: 0px !important;
    flex-basis: 50%;
}

@media screen and (min-width: 80em) {
.css-139dgrb {
    border: 0px !important
}}

.css-11urj75 {
    line-height: 1.8em;
    padding-bottom: 0px;
}

.method-example-object, .method-example-request, .method-example-response, .method-example-table {
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%) !important;  
    margin-bottom: 12px !important;
    margin-top: 30px !important;
}

.method-example-code {
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%) !important;  
    margin-bottom: 12px !important;
    margin-top: 50px !important;
}

.method-example-request-topbar {
    background: #002028;
    padding: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

pre.IntroSection-pre pre {
    color: #c1c9d2;
    background: #053440 !important;
    font-size: 14px;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

pre.IntroSection-pre .css-3tvecc, .css-6nfh2o {
    display: none !important;
}

.method-example-request-title {
    color: #a3acb9;
    padding-left: 12px !important;
    font-size: 14px;
    font-weight: bold
}

.method-example-response-title {
    color: inherit;
    padding-left: 10px !important;
    font-size: 14px;
    font-weight: bold
}

.copy-code {
    color: white !important;
    background: var(--chakra-colors-gray-100);
    padding: 0 3px !important;
    margin: 0 1px !important;
    border-radius: 4px !important;
    border: 1px solid rgba(0,0,0,.05) !important;
    font-weight: 500 !important;
    font-size: .9em;
}

.method-example-response {
    background: lightgray;
}

.method-example-response-topbar {
    background:darkgray;
    padding: 10px 12px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px !important;
    color: #4f566b;
    text-transform: uppercase;
    letter-spacing: .01em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.method-example-response>p {
    margin: 0;
    padding: 12px 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #4f566b
}