h1, h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800 !important;
    padding: 60px 0;
    margin-top: 50px;
}

.css-qaw8t5-DocsHeading {
    padding: none !important; 
}

h3 {
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 0px !important;
    padding-top: 20px !important;
}

.chakra-link {
        color: #00beff !important
    }

.css-15wxsjd {
    color: inherit !important
}

.sign-in {
    text-decoration: none !important;
}

.token.string {
    color: #cae793 !important
}

.token.property {
    color: #7f9eea !important
}

.token.keyword {
    color: #bf94e7 !important
}

.css-11mz8ft {
    color:#d6deeb !important;
    background-color:#011627 !important
}

.css-1x7d4r1 {
    color:#d6deeb !important;
    background-color:#011627 !important;
    white-space: pre-wrap;
}

.css-19x6mbd strong {
    font-size: 13px
}

.css-o035oq strong {
    font-size: 13px
}

.css-19x6mbd:nth-child(1) {
    border-top-left-radius: 5px;
}

.css-19x6mbd:nth-child(8) {
    border-top-right-radius: 5px;
}

.css-1fi44gp {
    border: 1px solid #e2e8f0;
    border-radius: 5px !important;
    border-collapse: separate;
    border-spacing: 0;
}

.css-v9ldn8 {
    color: inherit
}

.css-v9ldn8 div {
    color: mediumseagreen;
    font-size: 18px !important;
    font-weight: 800
}

.css-v9ldn8 .no {
    font-size: 12px !important;
}

.css-vxas71, .css-1q10a6j {
    padding: 5px !important;
}

.css-t80207:hover, .css-t80207[data-hover] {
    transform: none !important;
}

.css-1qs9xko {
    display: none !important;
}

.css-cqcf40-Wrapper {
    display: none !important
}

.css-1yw7kw1 {
    margin-left: none !important
}

@media screen and (min-width: 48em) {
.css-1yw7kw1 {
    margin-left: 0px !important;
}}

@media screen and (min-width: 48em) {
    #testing .css-1yw7kw1 {
        margin-left: 0px !important;
    }}

.box {
    flex-basis: 50%;
    padding: 0 20px;
    height: 100%;
}

.box-gs {
    flex-basis: 50%;
    padding: 50px 20px;
    height: 100%;
}

.box-full {
    flex-basis: 100%;
    padding: 30px 20px;
    height: 100%;
}

.box2 {
    flex-basis: 50%;
    padding: 70px 20px 0;
    height: 100%;
}

.box2 p {
    padding-bottom: 20px
}

.markdown-button {
        padding: 10px 25px !important;;
        width: fit-content;
        border-radius: 8px;
        background: #00beff;
        color: white !important;
        font-weight: 800 !important;;
        text-transform: uppercase;
        font-size: 14px;
}

@media screen and (min-width: 80em) {
.css-139dgrb {
    border-right-width: 1px;
    padding-top: 30px
}}