@import 'style/colors.scss';

.ContactCarSales {

    .contact-description {
        font-size: 20px;
        line-height: 35px;
        padding: 5px 0px 10px 0;
        font-weight: 100;
        letter-spacing: normal;
        color: black
    }
    
    #firstname-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #lastname-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #email-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #anything_else_-634167dc-4a1f-4622-9b53-8ac7d94e0b33 {
        width: 100%;
    }

    #tell_us_more-97998470-24a5-46ee-a9d6-914671431ebe {
        min-height: 200px;
    }

    .hs-form-field {
        width: 100% !important;
    }

    #label-firstname-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #label-lastname-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #label-email-634167dc-4a1f-4622-9b53-8ac7d94e0b33,
    #label-anything_else_-634167dc-4a1f-4622-9b53-8ac7d94e0b33 {
        letter-spacing: 1px;
    }

    .hs-form .hs-button {
        color: white;
        padding: 0.7rem 1rem;
        font-weight: 600;
        border-radius: 6px;
        background-color: #00beff;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .hs-form .hs-input {
        padding: 8px 10px;
        margin: 4px 0px;
        border-radius: 6px;
        border: 0px solid #cacaca;
        background: #ffffff;
    }

    .hs-form .hs-input::placeholder {
        font-size: 15px
    }

    .loader {

        height: 669.78px;
        margin: auto;
        display: flex;
    
        
            svg {
                height: 50px;
                width: 50px;
                margin: auto;
            }
    
            .fa-primary {
                color: $primary
            }
    
            .fa-secondary {
                color: $disabled
                }
        }

    h1 {
        font-size: 40px !important;
        font-weight: 800 !important;
        background: linear-gradient(170deg , #0054c2 0%, #00beff 70%) !important;
        background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        height: 50px;
        line-height: 40px;
    }

    .ContactImage {
        margin: auto 0 auto auto;
        width: 500px;
        height: auto;
        display: flex;
        justify-content: start;
    }
    
    @media screen and (max-width: 768px) {
        .ContactImage {
            margin: auto !important;
            width: 80%;
            padding-bottom: 50px;
            
        }
    }

    @media screen and (max-width: 768px) {
        .reverseMobile {
            flex-direction: column-reverse !important;
        }}
        
}
