@import 'style/colors.scss';

.subHeader {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: max-content;
    color: $orange-500;
    font-weight: 600;
}

.howImage svg{
    margin: auto 0 auto auto;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: start;
    position: relative;
    left: -100px;
}

@media screen and (max-width: 768px) {
    .howImage svg{
       width: 100%;
       left: -0px;
    }
}

@media screen and (max-width: 768px) {
    .autoFillFlex {
        flex-direction: row-reverse;
    }
}

.fieldsVIN {
    display: flex;
}

.columnsVIN {
    width: 50%
}