@import 'style/colors.scss';

.subHeader {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: max-content;
    color: $orange-500;
    font-weight: 600;
}

.VehicleIDImage img{
    margin: auto;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .VehicleIDImage img{
       width: 100%
    }
}

@media screen and (max-width: 768px) {
    .vehicleIDFlex {
        flex-direction: column-reverse;
    }
}

.vehicleIDCTA {
    display: flex;

    .Button {
        margin-right: 20px
    }
}

.homeVehicleIDMore {
    
    .Button {
        margin: auto;
        position: relative;
        top: -55px;
        font-size: 13px;
    }
}