@import 'style/colors.scss';

pre {
    background-color: $primary-dark !important;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}