@import 'style/colors.scss';


.heroimageWrapper { 
    max-height: 460px;
}

.heroimageWrapper svg {
    width: 120%;
    height: auto;
    position: relative;
    left: -100px;
    top: 72px;
    overflow: visible;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .heroimageWrapper svg {
        width: 100%;
        left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .heroFlex {
        flex-direction: row-reverse;

    .section {
        flex: 1 1 100%
    }
    }
}
.report {
    text-align: left;
}

.ticksWrapper svg {
    color: $primary;
    margin-right: 10px;
}

.meetingHeader {
    font-size: 40px !important;
    line-height: 60px;
    color: white !important;
}

.meetingsubHeader {
    font-size: 28px !important;
    font-weight: 100 !important;
    letter-spacing: 0px;
    line-height: 30px;
    color: $primary !important;
}

.meetingHeader span {
    color: white !important;
}

.fullHeight {
    height: 89vh;
}

.meetingSection {
    .hs-form .hs-error-msg {
        color: #ff3c38;
        font-size: 12px;
        text-align: left !important;
        line-height: normal !important;
    }

    #lastname-b77706e1-4e03-4ab4-aa2f-dd33244cb18d {
        width: 102%;
    }

    #email-b77706e1-4e03-4ab4-aa2f-dd33244cb18d, 
    #company-b77706e1-4e03-4ab4-aa2f-dd33244cb18d {
        width: 102%
    }

    .hs-form .hs-button {
        color: white;
        padding: 0.7rem 1rem;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 6px;
        background-color: #00beff;
        border: 0px solid #00beff;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif !important;
    }

}

.BookImage svg{
    margin: auto 0;
    width: 570px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .BookImage svg{
       width: 100%
    }
}

.YDdDY_j6avih9XaXQYtw {
    background-color: $primary-dark !important;
}

.book-grid {
    display: flex;
    box-orient: horizontal;
    box-direction: normal;
    flex-flow: row wrap;
}

.book-grid > .cell {
    width: 16%;
    padding: 0px;
    margin: auto;
}

@media screen and (max-width: 768px) {    
    .book-grid > .cell {
        width: 25%;
        padding: 10px;
    }

    .companiesHome {
        padding: 30px 20px !important
    }
}

.cell {
    display: flex;
    padding: 0;

    img {
        transform: scale(0.8)
    }
}

.book {
    text-align: center;
    font-size: 14px !important;
}

.bookSubHeader {
    font-size: 25px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
    color: white !important;
}

.bookText {
    font-size: 15px;
    text-align: left;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: normal;
    color: white !important;
    padding-bottom: 50px;
}

.regoSection {
    margin: 20px auto !important
}

@media screen and (max-width: 768px) {  
    .regoSection {
        margin: 30px auto !important
    }
}

.creditBold {
    font-weight: 600;
}

.demoCover {
    display: flex;
    padding: 10px 0;

    svg {
        width: 30px !important;
        height: auto;
        margin-right: 30px;
    }
}

.coverHeader {
    font-weight: 600
}

.coverText {
    font-size: 18px;
}

#anything_else_-12297e8f-66dd-4380-b514-e37d36e51440 {
    width: 100% !important;
}