@import 'style/colors.scss';

h1 {
    padding-bottom: 30px
}


@media screen and (max-width: 768px) {
    .text {
        padding: 0 !important
    }}


.forecastingImage svg{
    margin: auto 0 auto auto;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .forecastingImage svg{
        margin: auto !important;
        width: 70%;
        padding-bottom: 50px;
        
    }
}

.MarketImage svg{
    margin: auto auto auto 0;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .MarketImage svg{
        margin: auto !important;
        width: 90%;
        padding-bottom: 30px;
        
    }
}

.PricingImage svg{
    margin: auto;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .PricingImage svg{
        margin: auto !important;
        width: 70%;
        padding-bottom: 50px;
        
    }
}

.VehicleImage svg{
    margin: auto auto auto 0;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .VehicleImage svg{
        margin: auto !important;
        width: 70%;
        padding-bottom: 50px;
        
    }
}


// Car Sales Statistics Hero

.heroContainer {
    
    p {
        text-align: center
    }
    

    .Button {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .heroContainer {
        background: none ;
        padding: auto 20px !important
    }
}

.carSalesStatistics {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #f7af2b !important;
    text-align: center;
    letter-spacing: 0px;
    padding-bottom: 0;
}

// .header {
//     font-size: 12px;
//     font-weight: 600;
//     text-transform: uppercase;
//     background-color: #fcdda7;
//     color: #f7af2b;
//     width: fit-content;
//     padding: 0 15px;
//     border-radius: 15px;
// }

.heroSection {
    text-align: center; 
}   

.statsHeader {
    background: linear-gradient(to right, #0054c2 0%, #00beff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .statsHeader {
       padding: 0px !important
    }
}

.heroImage {
    width: 100%;
    height: auto;
    position: relative;
    top: 70px
}


// Car Sales Statistics - Vehicle Market Forecasting

.productHeader {
    font-size: 40px !important;
    font-weight: 800 !important;
    background: linear-gradient(170deg , #0054c2 0%, #00beff 70%) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    height: 50px;
    line-height: 40px;
}

@media screen and (max-width: 768px) {
    .productHeader {
        height: auto;
    }
}


@media screen and (max-width: 768px) {
.reverseMobile {
    flex-direction: column-reverse !important;
}}

.productCopy {
    padding-bottom: 0px;
}

.product {
    display: inline-flex;
    flex-direction: column;
    padding-left: 0px;

    h2 {
        text-align: left;
    }

    p {
        font-size: 20px !important;
        line-height: 30px;
        font-weight: 300 !important;
        color: black !important;
    }
}

.checkCopy {
    margin-bottom: 15px !important
}

.featureItem {
    box-shadow: none;
    margin: 10px 0;
    border-radius: 8px;
    padding: 5px 0;

    svg {
        width: 15px !important;
        height: 15px !important;
        color: #239608;
    }

    .fa-secondary {
        color: #239608;
        opacity: 1;
    }

    .iconWrapper {
        padding: 10px !important;
        background: #A9D59F;
        border-radius: 8px;
        height: fit-content;
        display: flex;
        margin: auto;
    }

    .itemCopy {
        padding-left: 15px;
        display: flex;
        margin: auto;
            
        p {
            text-align: left;
            font-size: 17px !important;
            line-height: 28px;  
            letter-spacing: 0px !important;
            color: black !important;

        }
        
    }   
}