h1, h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-top: 0 !important
}

h1 {
    font-weight: 800 !important;
    padding-top: 40px !important
}

h2 {
    margin-top: 0 !important;
    font-weight: 800 !important;
}

h3 {
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 0px !important;
    padding-top: 20px !important;
}

.css-12sex52 {
    color: #718096 !important
}

.css-cc3u4a {
    color: white !important
}

.chakra-link {
    color: #00beff !important
}

.css-15wxsjd {
color: inherit !important
}

.sign-in {
text-decoration: none !important;
}

.token.string {
color: #cae793 !important
}

.token.property {
color: #7f9eea !important
}

.token.keyword {
color: #bf94e7 !important
}

.css-11mz8ft {
color:#d6deeb !important;
background-color:#011627 !important
}

.css-1x7d4r1 {
color:#d6deeb !important;
background-color:#011627 !important;
white-space: pre-wrap;
}

.css-19x6mbd strong {
font-size: 13px
}

.css-o035oq strong {
font-size: 13px
}

.css-19x6mbd:nth-child(1) {
border-top-left-radius: 5px;
}

.css-19x6mbd:nth-child(8) {
border-top-right-radius: 5px;
}

.css-1fi44gp {
border: 1px solid #e2e8f0;
border-radius: 5px !important;
border-collapse: separate;
border-spacing: 0;
}

.css-v9ldn8 {
color: inherit
}

.css-v9ldn8 div {
color: mediumseagreen;
font-size: 18px !important;
font-weight: 800
}

.css-v9ldn8 .no {
font-size: 12px !important;
}

.css-vxas71, .css-1q10a6j {
padding: 5px !important;
}

.css-1qs9xko {
    display: none !important;
}

.css-sdpyfi {
    padding-top: 20px !important
}

.css-12m0k8p {
    padding-bottom: 20px
}

.box {
    flex-basis: 50%;
    padding: 0 20px;
    height: 100%;
}

.box-full {
    flex-basis: 100%;
    padding: 0 20px;
    height: 100%;
}

.attributes {
    flex-basis: 50%;
    padding: 0 20px;
    height: 100%;
}

.attributes .css-7j5enp {
    margin: 10px !important
}

.css-7j5enp {
    margin-bottom: 0px !important
}

.box2 {
    flex-basis: 50%;
    width: 40vw !important;
    padding: 70px 20px 0;
    height: 100%;
}

.box2 p {
    padding-bottom: 20px
}

.smaller-text {
    font-size: 14px;
    color: grey
}

.alert {
    padding-top: 20px
}

.method-example-object, .method-example-request, .method-example-response, .method-example-table {
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%) !important;  
    margin-bottom: 12px !important;
    margin-top: 30px !important;
}

.method-example-code {
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%) !important;  
    margin-bottom: 12px !important;
    margin-top: 50px !important;
}


.method-example-request-topbar {
    background: #002028;
    padding: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

pre.IntroSection-pre pre {
    color: #c1c9d2;
    background: #053440 !important;
    font-size: 14px;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


pre.IntroSection-pre .css-3tvecc, .css-6nfh2o {
    display: none !important;
}

.method-example-request-title {
    color: #a3acb9;
    padding-left: 12px !important;
    font-size: 14px;
    font-weight: bold
}


.method-example-response-title {
    color: inherit;
    padding-left: 10px !important;
    font-size: 14px;
    font-weight: bold
}

.copy-code {
    color: white !important;
    background: var(--chakra-colors-gray-100);
    padding: 0 3px !important;
    margin: 0 1px !important;
    border-radius: 4px !important;
    border: 1px solid rgba(0,0,0,.05) !important;
    font-weight: 500 !important;
    font-size: .9em;
}

.method-example-response-topbar {
    background:darkgray;
    padding: 10px 12px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px !important;
    color: #4f566b;
    text-transform: uppercase;
    letter-spacing: .01em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.method-example-response>p {
    margin: 0;
    padding: 12px 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #4f566b
}

.method-example-note {
    background: lightgray;
    border-radius: 8px;
}

.method-example-note>p {
    margin: 0;
    padding: 12px 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #4f566b
}

.css-3tvecc {
    display: none !important;
}

.css-12m0k8p {
    padding-top: 20px !important
}

#__next > div > div > nav > div > div:nth-child(3) > div.chakra-stack.css-1h3nfwc > div.css-6yavm4 {
    text-transform: uppercase;
}

.css-t80207:hover, .css-t80207[data-hover] {
    transform: none !important;
}

.small-text-header {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.box2 .small-text-header {
    padding-top: 50px;
    padding-bottom: 10px;
}

.box-full .small-text-header {
    padding-bottom: 20px;
}

.small-text {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.chakra-collapse {
overflow: initial !important;
display: block !important;
opacity: 1 !important;
height: auto !important;
}

.css-blo9a3 {
    display: none !important;
}