@import 'style/colors.scss';

.subHeader {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: max-content;
    color: $orange-500;
    font-weight: 600;
}

.codeImage svg{
    margin: auto 0 auto auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    position: relative;
    left: -100px;
}

@media screen and (max-width: 768px) {
    .codeImage svg{
       width: 100%;
       left: -0px;
    }
}

@media screen and (max-width: 768px) {
    .autoFillFlex {
        flex-direction: row-reverse;
    }
}

.fieldsVIN {
    display: flex;
}

.columnsVIN {
    width: 50%
}

.codeBox pre {
    background-color: #002028 !important;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    max-width: 500px;
  }

  @media screen and (max-width: 768px) {
    .codeBox pre {
        display: grid;
    }}

  
  .sc-AxirZ.CxTbt.prism-code.language-jsx {
    font-family: 'source code pro';
    font-size: 10px;
    font-size: 15px;
  }

