@import 'style/colors.scss';

.WOV {
    p {
        margin-bottom: 16px;
    }

    table {
        margin: 16px 0px;

        tr {
            td:nth-child(1) {
                font-weight: 600;
            }
        }
    }

    &.WOV-example {
        table {
            width: auto;
        }

        span.code {
            background-color: $light-grey;
            padding: 2px 8px;
            border-radius: 6px;
            font-family: "Source Code Pro", monospace;
            letter-spacing: 1px;
        }
    }
}
