.ContactSalesStatistics {
    text-align: center;
}

.thankyouimage {
    width: 30%;
    height: auto;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
.thankyouimage {
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}}

.thankyouheader {
    font-size: 40px !important;
    font-weight: 800 !important;
    background: linear-gradient(170deg , #0054c2 0%, #00beff 70%) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    height: 50px;
    line-height: 40px;
}