@import 'style/colors.scss';

.heroNevdis {
  background-color: $primary-dark;
}

.header-nevdis {
  padding-bottom: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
}

.sub-header-nevdis {
  line-height: 50px;
  text-align: center;
  color: white;
}

.text-nevdis {
  line-height: 25px;
  padding: 0 130px;
  text-align: center;
  color: white;
}

.buttonWrapper {
  width: 210px;
  margin: auto;
  padding: 20px;
}

.heroWrapper {
  padding: 50px;
}
