.hero-report {
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto !important;

    .cta-group {
        display: flex;
        justify-content: center;
    }

    form {
        display: flex !important;
        padding: 40px 0 10px 0;
    }

    .hs_email.hs-email.hs-fieldtype-text.field.hs-form-field {
        width: 100%;
    }

    .hs-input {
        width: 100%;
        padding: 22px 10px;
    }

    #label-email-50d20ede-7f08-4b4d-aa8e-806f70a37b6e {
        display: none;
    }
    .hs-button.primary.large {
        margin-top: 0px;
        border-radius: 6px;
    }

}

.heroimageWrapper { 
    max-height: 460px;
}

.heroimageWrapper svg {
    width: 120%;
    height: auto;
    position: relative;
    left: -100px;
    top: 72px;
    overflow: visible;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .heroimageWrapper svg {
        width: 100%;
        left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .heroFlex {
        flex-direction: row-reverse;

    .section {
        flex: 1 1 100%
    }

    .reportHeader {
    font-size: 34px !important;
    line-height: 42px;}
    }

    .reportSection form {
    display: block !important;
    margin: auto;
    width: 50%;
    }

    .download {
        margin: auto;
        width: fit-content;
    }

    .reportSection {
        padding: 20px 0 !important
    }

    #email-aba15b18-0f86-4c41-8a1f-236c8c657ea6, #company-aba15b18-0f86-4c41-8a1f-236c8c657ea6, #email-aba15b18-0f86-4c41-8a1f-236c8c657ea6 {
        width: auto !important;
        display: block;
    }

    .hs-form .hs-form-field {
        text-align: center;
        margin-bottom: 20px !important;
    }
}
.report {
    text-align: left;
}

#email-aba15b18-0f86-4c41-8a1f-236c8c657ea6, #company-aba15b18-0f86-4c41-8a1f-236c8c657ea6 {
    width: 100%;
    display: block;
}

.hs-form .hs-button {
    color: white;
    padding: 0.7rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    background-color: #00beff;
    border: 0px solid #00beff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif !important;
}

.reportHeader {
    font-size: 60px !important;
    line-height: 60px;
    margin: auto;
}

.fullHeight {
    height: 89vh;
}

.reportSection {
    .hs-form .hs-error-msg {
        color: #ff3c38;
        font-size: 12px;
        text-align: left !important;
        line-height: normal !important;
    }

}